

  <!--<% if @grouped_reviews.present? %>
    <% @grouped_reviews.each do |company, reviews| %>
      <div class="review">
        <div>会社名：<%= company.name %></div>
        <div>レビュー件数：<%= reviews.size %></div>
      <div>レビュー平均評価：<%= (reviews.map(&:review_average).sum / reviews.size.to_f).round(1) %></div>
      </div>
    <% end %>
  <% end %>-->

  <div class="top-head-container">
    <section class="hero-section">
    </section>
  </div>
      <div class="public-content">
        <h2>\ 新着レビュー /</h2>
        <% if @grouped_reviews.present? %>
            <div class="top-reviews-container">
              <% @grouped_reviews.each do |company, reviews| %>
                <div class="review-card">
                  <div class="top-review">
                    <div class="company-name">会社名：<%= link_to "#{company.name}", new_user_session_path, data: {confirm: "コンテンツを閲覧する場合は、ログインか新規登録を行ってください。\nこのままログイン画面にジャンプします。"} %></div>
                    <div class="review-count">レビュー件数：<%= "#{reviews.size} 件" %></div>
                    <div class="average-rating">レビュー総合評価：<%= "#{(reviews.map(&:review_average).sum / reviews.size.to_f).round(1)} 点" %></div>
                  </div>
                </div>
              <% end %>
            </div>
        <% end %>
      </div>
    

  

    <h2>\ 新着トピック /</h2>
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <% @selected_topics.each do |topic| %>
          <div class="col">
            <div class="card shadow-sm h-100">
              <% if topic.topic_images.attached? %>
                <%= image_tag topic.topic_images.first, class: "bd-placeholder-img card-img-top", style: "width: 100%; height: 225px; object-fit: cover;" %>
              <% else %>
                <svg class="bd-placeholder-img card-img-top" width="100%" height="225">
                <image href="<%= asset_path('default-image.jpg') %>"></image>
                  <text x="50%" y="50%" fill="#aaaaaa" dy=".3em" text-anchor="middle">No image</text>
                </svg>
              <% end %>
              <div class="card-body d-flex flex-column">
                <small class="text-muted pd-1">ジャンル <%= topic.genre.present? ? t("activerecord.enums.topic.genre.#{topic.genre}") : "" %></small> 
                <h5 class="card-title text-break"><%= truncate(topic.title, length: 15) %></h5>
                <p class="card-text text-break"><%= truncate(topic.content) %></p>
                  <div class="d-flex justify-content-between align-items-center mt-auto">
                    <%= link_to "詳細", new_user_session_path, class:"btn btn-custom text-nowrap", data: {confirm: "コンテンツを閲覧する場合は、ログインか新規登録を行ってください。\nこのままログイン画面にジャンプします。"} %>
                    <% if topic.author_name %>
                      <!--user.screen_nameが空の文字列についても無しと判断する為、present?を使用する-->
                      <% if topic.user.screen_name.present? %>
                        <small class="text-muted text-break"><%= topic.user.screen_name.present? ? truncate(topic.user.screen_name) : truncate(topic.user.name) %></small>
                      <% else %>
                        <small class="text-muted">匿名希望</small>
                      <% end %>
                    <% else %>
                      <small class="text-muted">匿名希望</small>
                    <% end %>
                    <small class="text-muted"><%= topic.created_at.strftime('%y/%m/%d') %></small>
                  </div>
              </div>
            </div>
          </div>
        <% end %>
      </div><br>
    </div>


    <figure class="text-center">
      <div class="top-content">
        <blockquote class="blockquote">
          <% unless user_signed_in? %>
            <p>コンテンツを見るには、<%= link_to 'ログイン', new_user_session_path %> または <%= link_to '新規登録', new_user_registration_path %> してください。</p>
          <% end %>
      </blockquote>
      </div>
    </figure>
  </div>




