<div class="public-content">
  <h2>新着レビュー</h2>
  <% if @grouped_reviews.present? %>
    <% @grouped_reviews.each do |company, reviews| %>
      <div class="review">
        <div>会社名：<%= company.name %></div>
        <div>レビュー件数：<%= reviews.size %></div>
      <div>レビュー平均評価：<%= (reviews.map(&:review_average).sum / reviews.size.to_f).round(1) %></div>
      </div>
    <% end %>
  <% end %>
  
  <h2>新着トピックス</h2>
  <% if @selected_topics.present? %>
    <% @selected_topics.each do |topic| %>
    <div class="topic">
        <div>投稿者名：<%= topic.user.name %></div>
        <div><%= topic.title %></div>
        <div>・<%= topic.content %></div> 
      </div>
    <% end %>
  <% end %>

  <% unless user_signed_in? %>
    <p>コンテンツを見るには、<%= link_to 'ログイン', new_user_session_path %> または <%= link_to '新規登録', new_user_registration_path %> してください。</p>
  <% end %>
</div>