

  <!--<% if @grouped_reviews.present? %>
    <% @grouped_reviews.each do |company, reviews| %>
      <div class="review">
        <div>会社名：<%= company.name %></div>
        <div>レビュー件数：<%= reviews.size %></div>
      <div>レビュー平均評価：<%= (reviews.map(&:review_average).sum / reviews.size.to_f).round(1) %></div>
      </div>
    <% end %>
  <% end %>-->
  
  <div class="public-content">
  <h2>新着レビュー</h2>
  <% if @grouped_reviews.present? %>

      <div class="reviews-container">
        <% @grouped_reviews.each do |company, reviews| %>
          <div class="top-review">
            <div class="company-name">会社名：<%= company.name %></div>
            <div class="review-count">レビュー件数：<%= reviews.size %></div>
            <div class="average-rating">レビュー平均評価：<%= (reviews.map(&:review_average).sum / reviews.size.to_f).round(1) %></div>
          </div>
        <% end %>
      </div>
  <% end %>

  
  <h2>新着トピックス</h2>
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <% @selected_topics.each do |topic| %>
        <div class="col">
          <div class="card shadow-sm" style="width: 100%;">
             <% if topic.topic_images.attached? %>
              <%= image_tag topic.topic_images.first, class: "bd-placeholder-img card-img-top", style: "width: 100%; height: 225px; object-fit: cover;" %>
            <% else %>
              <svg class="bd-placeholder-img card-img-top" width="100%" height="225">
                <rect width="100%" height="100%" fill="#eeeeee"></rect>
                <text x="50%" y="50%" fill="#aaaaaa" dy=".3em" text-anchor="middle">No image</text>
              </svg>
            <% end %>
            <div class="card-body">
              <h6 class="card-subtitle mb-2 text-body-secondary"><%= topic.title %></h6>
              <p class="card-text">
                <div>投稿者名：<%= topic.user.name || '匿名希望' %></div>
                <div><%= topic.content %></div> 
              </p>
            </div>
          </div>
        </div>
      <% end %>
    </div><br>
  </div>

  <figure class="text-center">
    <blockquote class="blockquote">
    <% unless user_signed_in? %>
      <p>コンテンツを見るには、<%= link_to 'ログイン', new_user_session_path %> または <%= link_to '新規登録', new_user_registration_path %> してください。</p>
    <% end %>
  </blockquote>