<body class="admin-login-page">
    <div id="admin-login-page">
      <div class="container">
        <div class="admin-login-form">
          <div class="row justify-content-center">
            <div class="col-md-10">

            <h1 class="custom-heading"> Daisy<br>管理者ログイン画面</h1> 

            <div class="form-group">
              <%= form_with model: resource, as: resource_name, url: admin_session_path, local: true do |form| %>

              <div class="form-group">
                <%= form.label :email %>
                <%= form.email_field :email, class: 'form-control'  %>
              </div>
              <div class="field">
                <%= form.label :password %>
                <%= form.password_field :password , class: 'form-control' %>
              </div>
              <div class="button-group">
                  <%= form.submit %>
              </div>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
