<body class="topics-page">
    <div class="container">
      <div class="form"> 
        <div class="row justify-content-center">
          <div class="col-md-10">

          <% if topic.errors.any? %>
            <div id="error_explanation" class="alert alert-danger">
              <ul>
                <% topic.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>


            <h1 class="fw-center">トピックス投稿</h1>
            <%= form_with(model: topic) do |form| %>

              <div class="field">
                <%= form.label :title ,'タイトル'%>
                <%= form.text_field :title, class: 'form-control'  %>
              </div>
                <div class="field">
                <%= form.label :content ,'コンテント' %>
                <%= form.text_area :content , class: 'topic-form-control' %>
              </div>
              <div class="field">
                <li><%= form.label :ハンドルネームで投稿する %>
                <span><%= form.check_box :author_name %></span></li>
              </div>
              <div class="field">
                <li><%= form.label :topic_images ,'画像挿入'%>
                <%= form.file_field :topic_images, multiple: true %></li>
              </div>
              <div>
                <p>※投稿者名として、ハンドルネームを登録していない場合は「匿名希望」で投稿されます</p>
              </div>
              <div class="text-center">
                <%= form.submit "投稿する",class: "btn btn-outline-dark", class:"btn btn-custom custom-btn" %>
                <%= link_to "戻る", topics_path , class: 'btn btn-secondary custom-btn' %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
