<%= form_with(model: topic) do |form| %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

    <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <div class="field">
    <%= form.label :topic_images %>
    <%= form.file_field :topic_images, multiple: true %>
  </div>

  <div class="field">
    <%= form.label :ハンドルネームで投稿する %>
    <span><%= form.check_box :author_name %></span>
  </div>

  <div>
    <p>投稿者名として、ハンドルネームを登録していない場合は「匿名希望」で投稿されます</p>
  </div>

  <div class="actions">
    <%= form.submit "投稿する" %>
  </div>

    <% if @topic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@topic.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% @topic.errors.each do |message, error| %>
          <li><%= " #{message}#{error}" %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<% end %>