
<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light  p-2">トピック一覧</h1>
      <div class="justify-content-center align-items-center">
        <%= search_form_for @q, url: topics_path, method: :get do |f| %>
          <%= f.label :title_or_content_cont, "タイトル・本文検索", class:"col-sm-4 col-form-label" %>
          <%= f.text_field :title_or_content_cont, class:"col-sm-4" %>
          <%= f.submit "検索", class:"btn btn-custom" %>

          <div class="form-group m-2">
            <div class="form-check-inline">
            <%= f.label :genre_eq, "ジャンル： ", class: "" %>
              <!-- "指定なし" オプションの追加 -->
              <%= f.radio_button :genre_eq, nil, id: "genre_any", checked: @q.genre_eq.blank? %>
              <%= f.label :genre_any, "指定なし", for: "genre_any" %>

              <!-- 残りのジャンルオプション -->
              <%= f.collection_radio_buttons :genre_eq, Topic.genres.keys.map { |k| [I18n.t("activerecord.enums.topic.genre.#{k}"), k] }, :last, :first do |b| %>
                  <%= b.radio_button(class: "form-check-input") %>
                  <%= b.label(class: "form-check-label") %>
              <% end %>
            </div>
          </div>


        <% end %>
      </div>
      <div class="align-items-center mt-2">
        <%= link_to "検索結果をリセット", topics_path, class:"btn btn-custom" %>
      </div>
    </div>
  </div>
</section>



<div class="container">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    <% @topics.each do |topic| %>
    <div class="col">
      <div class="card shadow-sm">
        <% if topic.topic_images.attached? %>
          <%= image_tag topic.topic_images.first ,class: "bd-placeholder-img card-img-top", style: "width: 100%; height: 225px; object-fit: cover;", loading:"lazy" %>
          <%#= loading:"lazy"をimage_tagに入れることで、遅延読み込みを実装する。ページのスクロールに合わせて画面を読み込む%>
        <% else %>
          <svg class="bd-placeholder-img card-img-top", style= "width: 100%; height: 225px">
            <image href="<%= asset_path('default-image.jpg') %>"></image>
            <!--<image x="0" y="0" width="100%" height="100%" href="<%= asset_path('default-image.jpg') %>"></image>-->
            <text x="50%" y="50%" fill="#00000" dy=".3em" text-anchor="middle" dominant-baseline="middle">no image</text>
          </svg>
        <% end %>
        <div class="card-body">
          <small class="text-muted pd-1">ジャンル <%= topic.genre.present? ? t("activerecord.enums.topic.genre.#{topic.genre}") : "" %></small>          
          <h5 class="card-title text-break"><%= truncate(topic.title, length: 15) %></h5>
          <p class="card-text text-break"><%= truncate(topic.content, length: 25) %></p>
            <div class="d-flex justify-content-between align-items-center">
              <%= link_to "詳細", topic_path(topic), class:"btn btn-custom text-nowrap" %>
              <% if topic.author_name %>
                <!--user.screen_nameが空の文字列についても無しと判断する為、present?を使用する-->
                <% if topic.user.screen_name.present? %>
                  <small class="text-muted text-break"><%= topic.user.screen_name.present? ? truncate(topic.user.screen_name) : truncate(topic.user.name) %></small>
                <% else %>
                  <small class="text-muted">匿名希望</small>
                <% end %>
              <% else %>
                <small class="text-muted">匿名希望</small>
              <% end %>
              <small class="text-muted"><%= topic.created_at.strftime('%y/%m/%d') %></small>
            </div>
          </div>
        </div>
    </div>
    <% end %>
  </div>
</div>

<%= paginate @topics %>
