
<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">トピック一覧</h1>
      <p>
        <%= search_form_for @q, url: topics_path, method: :get do |f| %>
          <%= f.label :title_or_content_cont, "キーワード(タイトル・本文内)検索" %>
          <%= f.text_field :title_or_content_cont %>
          <%= f.submit "検索", class:"btn btn-warning" %>
        <% end %>
      </p>
      <div class="align-items-center">
        <%= link_to "検索結果をリセット", topics_path, class:"btn btn-warning" %>
      </div>
    </div>
  </div>
</section>


<div class="container">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    <% @topics.each do |topic| %>
    <div class="col">
      <div class="card shadow-sm">
        <% if topic.topic_images.attached? %>
          <%= image_tag topic.topic_images.first ,class: "bd-placeholder-img card-img-top", style: "width: 100%; height: 225px; object-fit: cover;" %>
        <% else %>
          <svg class="bd-placeholder-img card-img-top", style= "width: 100%; height: 225px">
            <rect width="100%" height="100%" fill="#ffffe0"></rect>
            <text x="50%" y="50%" fill="#00000" dy=".3em" text-anchor="middle" dominant-baseline="middle">no image</text>
          </svg>
        <% end %>
        <div class="card-body">
          <h5 class="card-title"><%= truncate(topic.title, length: 15) %></h5>
          <p class="card-text"><%= truncate(topic.content, length: 25) %></p>
            <div class="d-flex justify-content-between align-items-center">
              <%= link_to "詳細", topic_path(topic), class:"btn btn-warning" %>
              <% if topic.author_name %>
                <!--user.name/user.screen_nameが空の文字列についても無しと判断する為、present?を使用する-->
                <% if topic.user.screen_name.present? || topic.user.name.present? %>
                  <small class="text-muted"><%= topic.user.screen_name.present? ? truncate(topic.user.screen_name) : truncate(topic.user.name) %></small>
                <% else %>
                  <small class="text-muted">匿名希望</small>
                <% end %>
              <% else %>
                <small class="text-muted">匿名希望</small>
              <% end %>
            </div>
          </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
  <%= paginate @topics %>

