<!--  <div class="form container border border-5 shadow-sm" style="width:100%;">-->
  <div class="container text-center" style="width:75%;">
  <h1 class="fw-light mb-1 text-center">トピックス</h1>
  <div class="col-lg-6 col-md-8 mx-auto">
    <p><em>子育て、介護、仕事、生活のトピックスを自由に投稿して交流しましょう！</em></p>
  </div>
  <hr>
    <div class="justify-content-center align-items-center">
      <p class="text-center my-2">タイトルや本文、ジャンルで検索してください。</p>
      <%= search_form_for @q, url: topics_path, method: :get do |f| %>
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="form-group mb-3">
            <%= f.label :title_or_content_cont, "タイトル・本文検索（カタカナはひらがなに変換されます）", class:"col col-form-label" %>
            <%= f.text_field :title_or_content_cont, class:"form-control" %>
          </div>
        </div>
      </div>
        <div class="form-group mb-3">
          <div class="form-check-inline">
          <%= f.label :genre_eq, "ジャンル検索：" %>
            <%= f.collection_radio_buttons :genre_eq, Topic.genres.keys.map { |k| [I18n.t("activerecord.enums.topic.genre.#{k}"), Topic.genres[k]] }, :last, :first do |b| %>
                <%= b.radio_button(class: "form-check-input ms-1") %>
                <%= b.label(class: "form-check-label") %>
            <% end %>
          </div>
        </div>
        <div class="text-center m-2">
          <%= f.submit "検索", class:"btn btn-custom" %>
          <%= link_to "検索結果をリセット", topics_path, class:"btn btn-custom ms-2" %>
        </div>
      <% end %>
    </div>
    <hr>
  </div>


<section class="text-center container">
  <div class="row">
  </div>
</section>


<div class="container">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    <% @topics.each do |topic| %>
    <div class="col">
      <div class="card shadow-sm h-100">
        <% if topic.topic_images.attached? %>
          <%= image_tag topic.topic_images.first ,class: "bd-placeholder-img card-img-top", style: "width: 100%; height: 225px; object-fit: cover;", loading:"lazy" %>
          <%#= loading:"lazy"をimage_tagに入れることで、遅延読み込みを実装する。ページのスクロールに合わせて画面を読み込む%>
        <% else %>
          <svg class="bd-placeholder-img card-img-top", style= "width: 100%; height: 225px">
            <image href="<%= asset_path('default-image.jpg') %>"></image>
            <!--<image x="0" y="0" width="100%" height="100%" href="<%= asset_path('default-image.jpg') %>"></image>-->
            <text x="50%" y="50%" fill="#aaaaaa" dy=".3em" text-anchor="middle" dominant-baseline="middle">No image</text>
          </svg>
        <% end %>
        <div class="card-body d-flex flex-column">
          <small class="text-muted pd-1">ジャンル <%= topic.genre.present? ? t("activerecord.enums.topic.genre.#{topic.genre}") : "" %></small>          
          <h5 class="card-title text-break"><%= truncate(topic.title, length: 15) %></h5>
          <p class="card-text text-break"><%= truncate(topic.content) %></p>
            <div class="d-flex justify-content-between align-items-center mt-auto">
              <%= link_to "詳細", topic_path(topic), class:"btn btn-custom text-nowrap" %>
              <% if topic.author_name %>
                <!--user.screen_nameが空の文字列についても無しと判断する為、present?を使用する-->
                <% if topic.user.screen_name.present? %>
                  <small class="text-muted text-break"><%= topic.user.screen_name.present? ? truncate(topic.user.screen_name) : truncate(topic.user.name) %></small>
                <% else %>
                  <small class="text-muted">匿名希望</small>
                <% end %>
              <% else %>
                <small class="text-muted">匿名希望</small>
              <% end %>
              <small class="text-muted"><%= topic.created_at.strftime('%y/%m/%d') %></small>
            </div>
          </div>
        </div>
    </div>
    <% end %>
  </div>
</div>

<br>
<%= paginate @topics %>
<br>
<div class="d-flex justify-content-center align-items-center gap-2"> <!--gapでボタン同士の距離を離す-->
  <%= link_to "ページトップ", topics_path, class:"btn btn-custom" %>
</div>
<br>