<div class="container">
  
  <div class="col w-100 px-5 pt-5">
    <h2><%= @topic.title %></h2>
  </div>

  <div class="col w-100 p-5">
    <p class="fs-5"><%= @topic.content %></p>
  </div>

  <div class="col w-100 px-5">
    <p>ジャンル： <%= @topic.genre.present? ? t("activerecord.enums.topic.genre.#{@topic.genre}") : "" %></p>
  </div>

  <div class="col w-100 px-5">
    <div class="d-flex justify-content-between align-items-center">
      <% if @topic.author_name? %>
        <% if @topic.user.screen_name? %>
          <p>投稿者：<%= @topic.user.screen_name %></p><br>
        <% else %>
          <p>投稿者： 匿名希望</p><br>
        <% end %>
      <% else %>
        <p>投稿者： 匿名希望</p><br>
      <% end %>
      <p><%= @topic.created_at.strftime('%Y/%m/%d') %></p>
    </div>
  </div>

  <div class="col w-100 p-5 text-center">
    <p>
      <% if @topic.topic_images.attached? %>
        <% @topic.topic_images.each do |image| %>
          <%= link_to url_for(image) do %>
            <%= image_tag image.variant(resize_to_fit: [500,500]) %>
          <% end %>
        <% end %>
      <% end %>
      <%# 詳細画面でimage_tagを使って画像を表示
          表示する画像サイズをvariantメソッドを使ってリサイズ可能にして、
          (resize_to_limit: [100,100])で縦横比を維持したままサイズを指定。今回は縦横100pxの画像表示%>
    </p>
  </div>


  <div class="d-flex justify-content-center align-items-center gap-2"> <!--gapでボタン同士の距離を離す-->
    <% if current_user.id == @topic.user_id %>
      <%= link_to "削除", topic_path(@topic), method: :delete, data: { confirm: "削除しても宜しいですか？"}, class:"btn btn-custom mr-2 mb-5" %>
      <%= link_to "編集", edit_topic_path(@topic), class:"btn btn-custom mr-2 mb-5" %>
      <%= link_to "マイページに戻る", users_path, class:"btn btn-custom mr-2 mb-5" %>
    <% end %>
    <%= link_to "戻る", topics_path, class:"btn btn-custom mr-2 mb-5" %>
  </div>
</div>
