<div>
  <h1>トピック詳細</h1>
</div>

  <div>
    <h2>タイトル： <%= @topic.title %></h2>
  </div>

  <div>
    <h2>本文： </h2>
    <p><%= @topic.content %></p>
    <p>作成日時: <%= @topic.created_at.strftime('%Y/%m/%d %H:%M') %></p>
  </div>

  <div>
    <p>
      <strong>Portrait:</strong>
      <% if @topic.topic_images.attached? %>
        <% @topic.topic_images.each do |image| %>
          <%= link_to url_for(image) do %>
            <%= image_tag image.variant(resize_to_limit: [500,500]) %>
          <% end %>
        <% end %>
      <% end %>
      <%# 詳細画面でimage_tagを使って画像を表示
          表示する画像サイズをvariantメソッドを使ってリサイズ可能にして、
          (resize_to_limit: [100,100])で縦横比を維持したままサイズを指定。今回は縦横100pxの画像表示%>
    </p>
  </div>

  <div>
    <% if @topic.author_name? %>
      <% if @topic.user.screen_name? %>
        <p>投稿ユーザー名：<%= @topic.user.screen_name %></p><br>
      <% else %>
        <p>投稿ユーザー名：匿名希望 </p><br>
      <% end %>
    <% else %>
      <p>投稿ユーザー名： 匿名希望 </p><br>
    <% end %>
  </div>

</div>

<% if current_user.id == @topic.user_id %>
  <%= link_to "削除", topic_path(@topic), method: :delete, data: { confirm: "削除しても宜しいですか？"} %>
  <%= link_to "編集", edit_topic_path(@topic) %>
<% end %>
<%= link_to "戻る", topics_path %>
