<h3 class="mt-5">アカウント詳細</h3>

  <p class="m-0">登録メールアドレス（ID）</p>
<div class="account-details my-1">
  <div class="account-detail">
    <div class="label">メールアドレス</div>
    <div class="value"><%= @user.email %></div>
  </div>
</div>
  <p class="m-0">基本情報</p>
<div class="account-details mt-1 mb-5">
  <div class="account-detail">
    <div class="label">氏名</div>
    <div class="value"><%= @user.name %></div>
  </div>
  <div class="account-detail">
    <div class="label">ハンドルネーム</div>
    <div class="value"><%= @user.screen_name %></div>
  </div>
  <div class="account-detail">
    <div class="label">トピックス投稿数</div>
    <div class="value"><%= @user.topics.count %></div>
  </div>
  <div class="account-detail">
    <div class="label">レビュー投稿数</div>
    <div class="value"><%= @user.reviews.count %></div>
  </div>
  <div class="account-detail">
    <div class="label">利用区分</div>
    <div class="value"><%= t("activerecord.enums.user.role.#{@user.role}") %></div>
  </div>
</div>
