<div class="table">
  <tbody>
    <tr>
      <td>ユーザー名：<%= @user&.company_id ? @user.name : "" %></td><br>
      <td>ステータス：<%= @user.role %><td><br>
      <td>メールアドレス：<%= @user.email %></td><br>
      <td>トピック投稿数：<%= @user.topics.count %></td><br>
      <td>レビュー投稿数：<%= @user.reviews.count %></td><br>
    </tr>
  </tbody>
</div>