
<section class="text-center container">
  <div class="row">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light p-2">企業一覧</h1>
      <p>企業名と住所にて検索可能です</p>
      <hr>
      <div class="justify-content-center align-items-center">
        <%= search_form_for @q, url: admin_companies_path, method: :get do |f| %>
          <div class="row justify-content-center">
            <div class="col-6">
            <%= f.label :name_cont, "企業名", class:"d-block" %>
            <%= f.text_field :name_cont, class:"form-control mx-auto" %>
            </div>
            <div class="col-6">
              <%= f.label :address_cont, "住所", class:"d-block" %>
              <%= f.text_field :address_cont, class:"form-control mx-auto" %>
            </div>
          </div>
          <div class="row justify-content-center my-3">
            <div class="col-6 mt-auto">
              <div class="d-flex justify-content-center align-items-center gap-2 text-nowrap">
                <%= f.submit "検索", class:"btn btn-custom" %>
                <%= link_to "検索結果をリセット", admin_companies_path, class:"btn btn-custom" %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>

<div class="container">
  <div class="table-responsive">
    <table class="table caption-top">
      <caption>ソート項目は各ボタンを押してください</caption>
      <thead class="text-align-center text-center align-middle custom-thead">
        <tr>
          <th></th>
          <th><%= sort_link(@q, :name, "企業名", hide_indicator: true, class: "btn btn-light") %></th>
          <th><%= sort_link(@q, :address, "住所", hide_indicator: true, class: "btn btn-light") %></th>
          <th>レビュー件数</th>
          <th>総合評価</th>
          <th><%= sort_link(@q, :created_at, "登録日時", hide_indicator: true, class: "btn btn-light") %></th>
        <tr>
        <tbody class="align-middle">
          <% @companies.each do |company| %>
            <tr>
              <td class="text-center"><%= link_to "詳細", admin_company_path(company), class:"btn btn-custom" %></td>
              <td class="text-center"><%= company.name %></td>
              <td><%= company.address %>
              <td class="text-center"><%= "#{company.reviews_count} 件" %>
              <td class="text-center"><%= "#{company.company_reviews_average} /点" %><br>
              <td class="text-center"><%= company.created_at.strftime('%Y/%m/%d') %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

<%= paginate @companies %>