<div>
  <h1 class="text-center">企業詳細</h1>

  <div class="admin-company-details">
    <div class="admin-company-detail">
      <div class="label">企業名： <%= @company.name %></div>
    </div>
  </div>
  <div class="admin-company-details">
    <div class="admin-company-detail">
      <div class="value">企業ユーザー名： <%= @user&.company_id ? @user.name : "" %></div>
      <div class="value">企業レビュー数： <%= "#{@company.reviews.count} 件" %></div>
    </div>
  </div>

  <p>基本情報</p>
  <div class="account-details">
    <div class="account-detail">
      <div class="label">資本金</div>
      <div class="value"><%= @company.formatted_capital %></div>
    </div>

    <div class="account-detail">
      <div class="label">社員人数</div>
      <div class="value"><%= "#{@company.employee} 人" %></div>
    </div>

    <div class="account-detail">
      <div class="label">売上高</div>
      <div class="value"><%= @company.formatted_sales %></div>
    </div>
    
    <div class="account-detail">
      <div class="label">所在地</div>
      <div class="value"><%= @company.address %></div>
    </div>

    <div class="account-detail">
      <div class="label">業界・業種</div>
      <div class="value"><%= @company.industry %></div>
    </div>

    <div class="account-detail">
      <div class="label">企業URL</div>
      <div class="value"><%= @company_url %></div>
    </div>

    <div class="account-detail">
      <div class="label">企業連絡先</div>
      <div class="value"><%= @company.contact %></div>
    </div>

  </div>
  
  <div class="company-description" >
    <p>
      <strong>会社ロゴマーク:</strong>
      <%#= link_to @topic.portrait.filename, @topic.portrait if @topic.portrait.attached? %>
      <%#= image_tag @topic.portrait.variant(resize_to_limit: [100,100]) if @topic.portrait.attached? %>
      <%# 詳細画面でimage_tagを使って画像を表示
          表示する画像サイズをvariantメソッドを使ってリサイズ可能にして、
          (resize_to_limit: [100,100])で縦横比を維持したままサイズを指定。今回は縦横100pxの画像表示%>
    </p>
    <div>
      <p>企業説明：<%= simple_format(@company.description) %></p>
    </div>

    <div>
      <p>登録日時： <%= @company.created_at.strftime('%Y/%m/%d') %></p>
      <p>総合評価： <%= @company.company_reviews_average %></p>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center align-items-center gap-2"> <!--gapでボタン同士の距離を離す-->
  <%= link_to "削除", admin_company_path(@company), method: :delete, data: { confirm: "削除しても宜しいですか？"}, class:"btn btn-custom" %>
  <%= link_to "戻る", admin_companies_path, class: 'btn btn-secondary' %>
</div>