<%= render "admin/navigation" %>

<%= sort_link(@q, :created_at, "作成日時順", hide_indicator: true) %>
<p><%= link_to "検索結果をリセットする", admin_reviews_path %></p>


<%= search_form_for @q, url: admin_reviews_path, method: :get do |f| %>
  <%= f.label :company_name_cont, "企業名" %>
  <%= f.text_field :company_name_cont %>

  <%= f.submit "検索" %>
<% end %>

<table>
  <thead>
    <tr>
      <th>レビュー一覧</th>
    </tr>
  </thead>
</table>

  <tbody>
    <% @reviews.each do |review| %>
      <tr>
        <td><%= link_to "詳細", admin_review_path(review) %></td><br>
        <td>ユーザー名：<%= review.user.name %><td><br>
        <td>企業名：<%= review.company.name %></td><br>
      </tr>
    <% end %>
  </tbody>

<% paginate @reviews %>