<section class="text-center container">
  <div class="row">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light p-2 h2">レビュー一覧</h1>
      <p>
      キーワード検索は本文の中を「ひらがな・カタカナ」検索します<br>
      </p>
      <hr>
      <div class="justify-content-center align-items-center">
        <%= search_form_for @q, url: admin_reviews_path, method: :get do |f| %>
          <div class="row justify-content-center">
            <div class="col-6">
              <%= f.label :company_name_cont, "企業名", class:"d-block" %>
              <%= f.text_field :company_name_cont, class:"form-control mx-auto" %>
            </div>
            <div class="col-6">
              <%= f.label :user_name_cont, "投稿者名", class:"d-block" %>
              <%= f.text_field :user_name_cont, class:"form-control mx-auto" %>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-6">
              <%= f.label :content_cont, "キーワード(本文内)検索", class:"d-block" %>
              <%= f.text_field :content_cont, class:"form-control mx-auto" %>
            </div>
            <div class="col-6 mt-auto">
              <div class="d-flex justify-content-center-between align-items-center gap-2">
                <%= f.submit "検索", class:"btn btn-custom" %>
                <%= link_to "検索結果をリセット", admin_reviews_path, class:"btn btn-custom" %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>

<div class="container">
  <div class="table-responsive">
    <table class="table caption-top">
      <caption>ソート項目は各ボタンを押してください</caption>
      <thead class="text-center align-middle custom-thead">
        <tr>
          <th></th>
          <th>総合評価</th>
          <th><%= sort_link(@q, :company_name, "企業名", hide_indicator: true, class: "btn btn-light") %></th>
          <th><%= sort_link(@q, :user_age, "年代", hide_indicator: true, class: "btn btn-light") %></th>
          <th><%= sort_link(@q, :user_gender, "性別", hide_indicator: true, class: "btn btn-light") %></th>
          <th><%= sort_link(@q, :enrollment_status, "在籍状態", hide_indicator: true, class: "btn btn-light") %></th>
          <th>投稿者名</th>
          <th>本文</th>
          <th><%= sort_link(@q, :created_at, "作成日時", hide_indicator: true, class: "btn btn-light") %></th>
        <tr>
      </thead>
        <tbody class="align-middle">
          <% @reviews.each do |review| %>
            <tr>
              <td class="text-center"><%= link_to "詳細", admin_review_path(review), class:"btn btn-custom" %>
              <td class="text-center"><%= "#{review.review_average} /点" %></td>
              <td class="text-center"><%= truncate(review.company.name) %></td>
              <td class="text-center"><%= review.user.age.present? ? t("activerecord.enums.user.age.#{review.user.age}") : "" %></td>
              <td class="text-center"><%= review.user.gender.present? ? t("activerecord.enums.user.gender.#{review.user.gender}") : "" %></td>
              <td class="text-center"><%= review.enrollment_status.present? ? "現職" : "退社済み" %></td>
              <td class="text-center"><%= review.user.name %></td>
              <td><%= truncate(review.content) %></td>
              <td class="text-center"><%= review.created_at.strftime('%Y/%m/%d') %></td>
            </tr>
          <% end %>
        </tbody>
    </table>
  </div>
</div>

<%= paginate @reviews %>