<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light p-2 h2">レビュー一覧</h1>
      <p>ここにテキストとか入れる。検索方法などについて</p>
      <hr>
      <div class="justify-content-center align-items-center">
        <%= search_form_for @q, url: admin_reviews_path, method: :get do |f| %>
          <p>
            <%= f.label :company_name_cont, "企業名", class:"col-sm-4 col-form-label" %>
            <%= f.text_field :company_name_cont, class:"col-sm-4" %>
          </p>
          <p>
            <%= f.label :user_name_cont, "投稿者名", class:"col-sm-4 col-form-label" %>
            <%= f.text_field :user_name_cont, class:"col-sm-4" %>
          <p>
            <%= f.label :content_cont, "キーワード(本文内)検索", class:"col-sm-4 col-form-label" %>
            <%= f.text_field :content_cont, class:"col-sm-4" %>
          </p>
          </p>
          <p>
          <%= f.submit "検索", class:"btn btn-custom" %>
          </p>
        <% end %>
      </div>
      <div class="align-items-center">
        <p><%= link_to "検索結果をリセット", admin_reviews_path, class:"btn btn-custom" %></p>
      </div>
    </div>
  </div>
</section>

<div class="container">
  <div class="table-responsive">
    <table class="table table caption-top">
      <caption>ソート項目は各ボタンを押してください</caption>
      <thead class="table-warning text-center align-middle">
        <tr>
          <th></th>
          <th>評価平均</th>
          <th><%= sort_link(@q, :company_name, "企業名", hide_indicator: true, class: "btn btn-light") %></th>
          <th><%= sort_link(@q, :user_age, "年代", hide_indicator: true, class: "btn btn-light") %></th>
          <th><%= sort_link(@q, :user_gender, "性別", hide_indicator: true, class: "btn btn-light") %></th>
          <th><%= sort_link(@q, :select, "在籍状態", hide_indicator: true, class: "btn btn-light") %></th>
          <th>投稿者名</th>
          <th>本文</th>
          <th><%= sort_link(@q, :content, "作成日時", hide_indicator: true, class: "btn btn-light") %></th>
        <tr>
      </thead>
        <tbody class="align-middle">
          <% @reviews.each do |review| %>
            <tr>
              <td class="text-center"><%= link_to "詳細", admin_review_path(review), class:"btn btn-custom" %>
              <td class="text-center"><%= review.review_average %></td>
              <td class="text-center"><%= truncate(review.company.name) %></td>
              <td class="text-center"><%= review.user.age %></td>
              <td class="text-center"><%= review.user.gender %></td>
              <td class="text-center"><%= review.select %></td>
              <td class="text-center"><%= review.user.name %></td>
              <td><%= truncate(review.content) %></td>
              <td class="text-center"><%= review.created_at.strftime('%Y/%m/%d') %></td>
            </tr>
          <% end %>
        </tbody>
    </table>
  </div>
</div>

<% paginate @reviews %>