<h2 class="mt-5 mb-5 text-center"><%= @company.name %>：レビュー詳細</h2>
<div class="account-details">
  <div class="account-detail">
    <div class="label">在籍状況</div>
    <div class="value"><%= @review.select %></div>
  </div>
   <div class="account-detail">
    <div class="label">年代</div>
    <div class="value"><%= @user.age %></div>
  </div>
  <div class="account-detail">
    <div class="label">性別</div>
    <div class="value"><%= @user.gender %></div>
  </div>
</div>

<div class="table-responsive mb-2">
  <table class="table table-bordered align-middle text-center caption-top">
    <caption>作成日時： <%= @review.created_at.strftime('%Y/%m/%d') %></caption>
    <thead class="custom-thead">
      <tr>
        <th scope="col">　</th>
        <th scope="col">項目</th>
        <th scope="col">点数</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <tr>
        <th scope="row">◇</th>
        <td>総合評価</td>
        <td><%= "#{@review.review_average}点 / 5点" %></td>
      </tr>
      <% @review.attributes.each do |name, value| %>
        <% if name.in?(%w[work_life_balance workplace_atmosphere flex_system remote_work harassment_prevention parental_care_leave childcare_support welfare_facilities evaluation_system promotion_salary overtime_holiday_work allowances_subsidies training_education_support career_support work_engagement]) %>
        <!--ここで数字評価だけのカラムを選びたいので、カラム名を列記している。これがないと、idとかまで★で表示してしまう-->
          <tr>
          <th scope="row">◇</th>
            <td><%= I18n.t("activerecord.attributes.review.#{name}") %></td>
            <td>
              <%= render partial: "reviews/output_star", locals: { review: @review, attribute_name: name.parameterize, score: value } %>
            </td>
          </tr>
        <% end %>
      <% end %>
      <tr>
        <th scope="row">詳細</th>
        <td colspan="3", class="align-top"><%= @review.content %></td>
      <tr>
    </tbody>
  </table>
</div>

<div class="text-center">
  <%= link_to "レビュー削除", admin_review_path(@review), method: :delete, data: { confirm: "削除しても宜しいですか？"}, class:"btn btn-custom mr-2 mb-5" %>
</div>

<%= render "admin/user" %>

<div class="d-flex justify-content-center align-items-center gap-2"> <!--gapでボタン同士の距離を離す-->
  <%= link_to "レビュー一覧に戻る", admin_reviews_path, class:"btn btn-custom mr-2 mb-5" %>
  <%= link_to "ユーザー詳細に戻る", admin_user_path(@user), class:"btn btn-custom mr-2 mb-5" %>
  <%= link_to "ページトップ", admin_review_path(@review), class:"btn btn-custom mr-2 mb-5" %>
</div>
