
<div class="container">
  
  <div class="col w-100 px-5 pt-5">
    <h2>タイトル：<%= @topic.title %></h2>
  </div>

  <div class="col w-100 p-5">
    <p class="fs-5">本文：<%= @topic.content %></p>
  </div>

  <div class="col w-100 px-5">
    <small>作成日時：<%= @topic.created_at.strftime('%Y/%m/%d') %></small>
  </div>

  <div class="col w-100 p-5 text-center">
    <p>
      <% if @topic.topic_images.attached? %>
        <% @topic.topic_images.each do |image| %>
          <%= link_to url_for(image) do %>
            <%= image_tag image.variant(resize_to_limit: [500,500]) %>
          <% end %>
        <% end %>
      <% else %>
        <p>画像添付はありません</p>
      <% end %>
    </p>
  </div>

<div class="text-center">
  <%= link_to "トピック削除", admin_topic_path(@topic), method: :delete, data: { confirm: "削除しても宜しいですか？"}, class:"btn btn-custom mr-2 mb-5" %>
</div>


<%= render "admin/user" %>

<div class="d-flex justify-content-center align-items-center gap-2"> <!--gapでボタン同士の距離を離す-->
  <%= link_to "トピック一覧に戻る", admin_topics_path, class:"btn btn-custom mr-2 mb-5" %>
  <%= link_to "ユーザー詳細に戻る", admin_user_path(@user), class:"btn btn-custom mr-2 mb-5" %>
  <%= link_to "ページトップ", admin_topic_path(@topic), class:"btn btn-custom mr-2 mb-5" %>
</div>
