
<h1>アカウント編集ページ</h1>

<% if @user.errors.any? %>
  <div id="error_explanation">
  
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>



<%= form_with(model: @user, local: true) do |f| %>
 <div class="field">
    <%= f.label :name ,"氏名"%><br/>
    <%= f.text_field :name %>
  <div class="field">
    <%= f.label :email, "メールアドレス"%><br/>
    <%= f.email_field :email%>
  <div class="field">
    <%= f.label :name ,"ハンドルネーム"%><br/>
    <%= f.text_field :screen_name %>
  </div>
  <div class="field">
    <%= f.label :age, '年代' %><br>
    <%= f.select :age, options_for_select(User.ages.keys.map { |k| [I18n.t("enums.user.age.#{k}"), k] }), include_blank: true %>
  </div>

  <div class="field">
    <%= f.label :gender, '性別' %><br>
    <%= f.select :gender, options_for_select(User.genders.keys.map { |k| [I18n.t("enums.user.gender.#{k}"), k] }), include_blank: true %>
  </div>

  <div class="field">
    <% available_roles = User.roles.keys - ['admin'] %> <!-- 管理者ロールを除外 -->
    <%= f.label :role, '役割' %><br>
    <%= f.select :role, options_for_select(available_roles.map { |k| [I18n.t("enums.user.role.#{k}"), k] }), include_blank: true %>
  </div>

  <div class="field">
    <%= f.label :password, "パスワード" %><br/>
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "パスワード（確認）"%><br/>
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "更新する" %>
  </div>
<% end %>

<%= link_to "戻る", :back %>
