
<h1 class="text-center">アカウント詳細</h1>

    <p>登録メールアドレス（ID）</p>
  <div class="account-details">
    <div class="account-detail">
      <div class="label">メールアドレス</div>
      <div class="value"><%= @user.email %></div>
    </div>
  </div>

  <p>基本情報</p>
  <div class="account-details">
    <div class="account-detail">
      <div class="label">氏名</div>
      <div class="value"><%= @user.name %></div>
    </div>

    <div class="account-detail">
      <div class="label">ハンドルネーム</div>
      <div class="value"><%= @user.screen_name %></div>
    </div>

    <div class="account-detail">
      <div class="label">年代</div>
      <div class="value"><%= @user.age.present? ? t("activerecord.enums.user.age.#{@user.age}") : '' %></div>
    </div>

    <div class="account-detail">
      <div class="label">性別</div>
      <div class="value"><%= @user.gender.present? ? t("activerecord.enums.user.gender.#{@user.gender}") : '' %></div>
    </div>
    
    <div class="account-detail">
      <div class="label">ユーザステータス</div>
      <div class="value"><%= @user.role.present? ? t("activerecord.enums.user.role.#{@user.role}") : '' %></div>
    </div>
  </div>
  <p>※ハンドルネームは、トピックス投稿で使用します。</p>



<div class="btn-actions">
  <%= link_to "編集", edit_user_path ,class:"btn btn-custom custom-btn" %>
  <%= link_to "戻る", users_path , class: 'btn btn-secondary custom-btn' %>
</div>
