<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light p-2">企業一覧</h1>
      <div class="justify-content-center align-items-center">
        <%= search_form_for @q, url: companies_path, method: :get do |f| %>
          <p>
          <%= f.label :name, "企業名検索", class:"col-sm-4 col-form-label" %>
          <%= f.text_field :name_cont, class:"col-sm-4" %>
          </p>
          <p>
          <%= f.label :address, "住所検索", class:"col-sm-4 col-form-label" %>
          <%= f.text_field :name_cont, class:"col-sm-4" %>
          </p>
          <p>
          <%= f.submit "検索", class:"btn btn-custom" %>
          </p>
        <% end %>
      </div>
      <div class="align-items-center">
        <p><%= link_to "検索結果をリセット", companies_path, class:"btn btn-custom" %></p>
      </div>
    </div>
  </div>
</section>


<div class="container">
  <div class="table-responsive">
    <table class="table caption-top">
      <caption>ソート項目は各ボタンを押してください</caption>
      <thead class="text-align-center text-center align-middle custom-thead">
        <tr>
          <th></th>
          <th>レビュー投稿</th>
          <th>レビュー一覧</th>
          <th><%= sort_link(@q, :name, "企業名", hide_indicator: true, class: "btn btn-light") %></th>
          <th><%= sort_link(@q, :address, "住所", hide_indicator: true, class: "btn btn-light") %></th>
          <th>企業評価</th>
        <tr>
        <tbody class="align-middle">
          <% @companies.each do |company| %>
            <tr>
              <td class="text-center"><%= link_to "詳細", company_path(company), class:"btn btn-custom" %></td>
              <% if current_user.age.present? && current_user.gender.present? %>
                <td class="text-center"><%= link_to "投稿", new_company_review_path(company), class:"btn btn-custom" %></td>
              <% else %>
                <td class="text-center"><%= link_to "投稿", companies_path, class:"btn btn-custom", data: { confirm: "レビューを投稿する場合は、年代と性別を登録してください"} %></td>
              <% end %>
              <td class="text-center"><%= link_to "一覧", company_reviews_path(company), class:"btn btn-custom" %></td><br>
              <td><%= company.name %></td>
              <td><%= company.address %>
              <td><%= company.company_reviews_average %><br>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <%= paginate @companies %>
