
 <p><%= sort_link(@q, :name, "企業名で並べ替え", hide_indicator: true) %></p>

  <%= search_form_for @q do |f| %>
    <%= f.label :name, "企業名検索" %>
    <%= f.search_field :name_cont %>
    <%= f.label :address, "住所検索" %>
    <%= f.search_field :address_cont %>

    <%= f.submit "検索" %>
  <% end %>

  <p><%= link_to "検索結果をリセットする", companies_path %></p>

  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= link_to "詳細", company_path(company) %></td>
        <td><%= link_to "レビュー投稿", new_company_review_path(company) %></td>
        <td><%= link_to "レビュー一覧", company_reviews_path(company) %></td><br>
        <td>企業名：<%= company.name %></td>
        <td>企業評価：<%= company.company_reviews_average %><br>
      </tr>
    <% end %>
  </tbody>

  <%= paginate @companies %>
