<div>
  <h1 class="text-center">企業詳細</h1>

  <div class="company-details">
    <div class="company-detail">
      <div class="label">企業名： <%= @company.name %></div>
      <div class="value">企業レビュー数： <%= @company.reviews.count %></div>
    </div>
  </div>

  <ul class="company-info">
    <li>資本金： <%= @company.capital %></li>
    <li>社員人数： <%= @company.employee %></li>
    <li>売上高： <%= @company.sales %></li>
    <li>所在地： <%= @company.address %></li>
    <li>業界・業種： <%= @company.industry %></li>
    <li>URL： <%= @company_url %></li>
    <li>お問合せ： <%= @company.contact %></li>
  </ul>

  <div class="company-description">
    <p>
      <strong>会社ロゴマーク:</strong>
      <%#= link_to @topic.portrait.filename, @topic.portrait if @topic.portrait.attached? %>
      <%#= image_tag @topic.portrait.variant(resize_to_limit: [100,100]) if @topic.portrait.attached? %>
      <%# 詳細画面でimage_tagを使って画像を表示
          表示する画像サイズをvariantメソッドを使ってリサイズ可能にして、
          (resize_to_limit: [100,100])で縦横比を維持したままサイズを指定。今回は縦横100pxの画像表示%>
    </p>
  </div>
  
    <p>企業説明：<%= simple_format(@company.description) %></p>
  </div>

  <div>
    <p>企業レビュー平均： <%= @company.company_reviews_average %></p>
  </div>

  <div>
    <p>作成日時： <%= @company.created_at.strftime('%Y/%m/%d %H:%M') %></p>
  </div>

  <div class="pickup-reviews">
    <p class="pickup-title">ピックアップレビュー </p>
  </div>

  <!--<div>
    <% @pickup_reviews.each do |review| %>
      <div>
        <p><small><%= link_to "レビュー", company_review_path(review.company_id, review) %>: <%= truncate(review.content, separator: "、") %></small></p>
        <p><small>レビュー評価平均： <%= review.review_average %></small></p>
      </div>
    <% end %>
  </div>-->
  
  <div class="reviews-container">
      <% @pickup_reviews.each do |review| %>
        <div class="card" style="width: 18rem; margin-bottom: 1rem;">
          <div class="card-body">
            <h6 class="card-subtitle mb-2 text-body-secondary">総合評価： <%= review.review_average %></h6>
            <p class="card-text">
              <div>作成日時：<%= review.created_at.strftime('%Y/%m/%d %H:%M') %></div>
            </p>
            <%= link_to "レビュー", company_review_path(review.company_id, review) %>: <%= truncate(review.content, separator: "、") %>
          </div>
        </div>
      <% end %>
  </div>
</div>

<div class="btn-actions">
  <%= link_to "戻る", companies_path , class: 'btn btn-secondary custom-btn'%>
</div>
