<div>
  <p>レビュー企業名： <%= @company.name %></p>
  <p>ユーザー在職状態： <%= @review.select %>
</div>

<div>
  <h1>レビュー詳細</h1>

  <div>
    <ul>
      <li>ワークライフバランス： <%= @review.work_life_balance %></li>
      <li>職場の雰囲気： <%= @review.workplace_atmosphere %></li>
      <li>フレックス制度： <%= @review.flex_system %></li>
      <li>リモート勤務： <%= @review.remote_work %></li>
      <li>ハラスメント対策： <%= @review.harassment_prevention %></li>
      <li>育休、介護休暇： <%= @review.parental_care_leave %></li>
      <li>育児支援制度： <%= @review.childcare_support %></li>
      <li>福利厚生施設： <%= @review.welfare_facilities %></li>
      <li>評価制度： <%= @review.evaluation_system %></li>
      <li>昇進・昇給に関して： <%= @review.promotion_salary %></li>
      <li>残業、休日出勤： <%= @review.overtime_holiday_work %></li>
      <li>手当・補助等： <%= @review.allowances_subsidies %></li>
      <li>研修・教育支援： <%= @review.training_education_support %></li>
      <li>キャリアアップ支援： <%= @review.career_support %></li>
      <li>業務の従事に関して： <%= @review.work_engagement%></li>
    </ul>
  </div>

  <div>
    <p>レビュー本文：<%= @review.content %></p>
    <p>作成日時： <%= @review.created_at.strftime('%Y/%m/%d %H:%M') %></p>
  </div>

</div>

<%= link_to "削除", admin_review_path(@review), method: :delete, data: { confirm: "削除しても宜しいですか？"} %>
<%= link_to "戻る", admin_reviews_path %>
