<div>
  <h1>企業詳細</h1>

  <div>
    <p>企業名： <%= @company.name %></p>
    <p>企業ユーザー名： <%= @user&.company_id ? @user.name : "" %>
    <p>企業レビュー数： <%= @company.reviews.count %>
  </div>

  <div>
    <ul>
      <li>資本金： <%= @company.capital %></li>
      <li>社員人数： <%= @company.employee %></li>
      <li>売上高： <%= @company.sales %></li>
      <li>所在地： <%= @company.address %></li>
      <li>業界・業種： <%= @company.industry %></li>
      <li>URL： <%= @company_url %></li>
      <li>お問合せ： <%= @company.contact %></li>
    </ul>
  </div>

  <div>
    <p>企業説明：<%= @company.description %></p>
  </div>

  <div>
      <p>
      <strong>Portrait:</strong>
      <%#= link_to @topic.portrait.filename, @topic.portrait if @topic.portrait.attached? %>
      <%#= image_tag @topic.portrait.variant(resize_to_limit: [100,100]) if @topic.portrait.attached? %>
      <%# 詳細画面でimage_tagを使って画像を表示
          表示する画像サイズをvariantメソッドを使ってリサイズ可能にして、
          (resize_to_limit: [100,100])で縦横比を維持したままサイズを指定。今回は縦横100pxの画像表示%>
    </p>
  <div>

  <div>
    <p>作成日時： <%= @company.created_at.strftime('%Y/%m/%d %H:%M') %></p>
  </div>

  <div>
    <p>企業レビュー平均： <%= @company.company_reviews_average %></p>
  </div>

  <div>
    <p>ピックアップレビュー</p>
  </div>

  <div>
      <% @pickup_reviews.each do |review| %>
        <div>
          <p><small><%= link_to "レビュー", company_review_path(review.company_id, review) %>: <%= truncate(review.content, separator: "、") %></small></p>
          <p><small>レビュー評価平均： <%= review.review_average %></small></p>
        </div>
      <% end %>
  </div>

</div>

<%= link_to "戻る", companies_path %>
