<%= render "admin/user" %>

<div class="text-center">
<%= link_to "ユーザー削除", admin_user_path(@user), method: :delete, data: { confirm: "削除しても宜しいですか？"}, class:"btn btn-custom mr-2 mb-5" %>
</div>

<h5>トピック件数： <%= @user.topics.size %>件</h5>
  <div class="table-responsive">
    <table class="table">
      <thead class="text-align-center text-center align-middle custom-thead">
        <tr>
          <th></th>
          <th>タイトル</th>
          <th>本文</th>
          <th>投稿者名</th>
          <th>ハンドルネーム</th>
          <th>作成日時</th>
          <th>画像の有無</th>
        </tr>
      </thead>
      <tbody class="align-middle">
        <% @topics.each do |topic| %>
          <tr>
            <td class="text-center"><%= link_to "詳細", admin_topic_path(topic), class:"btn btn-custom" %>
            <td class="text-center"><%= truncate(topic.title, length: 15) %></td>
            <td><%= truncate(topic.content) %></td>
            <td class="text-center"><%= truncate(topic.user.name, length: 15) %></td>
            <td class="text-center"><%= truncate(topic.user.screen_name, length: 15) %></td>
            <td class="text-center"><%= topic.created_at.strftime('%Y/%m/%d') %></td>
            <td class="text-center"><%= topic.topic_images.attached? ? "あり": "なし" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

<%= paginate @topics %>

<h5 class="mt-3">レビュー件数： <%= @user.reviews.size %>件</h5>
  <div class="table-responsive">
    <table class="table">
      <thead class="text-align-center text-center align-middle custom-thead">
        <tr>
          <th></th>
          <th>レビュー企業</th>
          <th>評価平均</th>
          <th>在籍状況</th>
          <th>本文</th>
          <th>投稿者名</th>
          <th>作成日時</th>
        </tr>
      </thead>
      <tbody class="align-middle">
      <% @reviews.each do |review| %>
        <tr>
          <td class="text-center"><%= link_to "詳細", admin_review_path(review), class:"btn btn-custom" %></td>
          <td class="text-center"><%= review.company.name %></td>
          <td class="text-center"><%= review.review_average %></td>
          <td class="text-center"><%= review.select %></td>
          <td class="text-center"><%= review.user.name.present? ? review.user.name : "設定されていません" %></td>
          <td><small><%= truncate(review.content) %></small></td>
          <td class="text-center"><small><%= review.created_at.strftime('%Y/%m/%d') %></small></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>

<%= paginate @reviews, param_name: :reviews_page %>

<div class="d-flex justify-content-center align-items-center gap-2"> <!--gapでボタン同士の距離を離す-->
  <%= link_to "戻る", admin_users_path, class:"btn btn-custom mr-2 mb-5" %>
  <%= link_to "ページトップ", admin_user_path(@user), class:"btn btn-custom mr-2 mb-5" %>
</div>