<div class="container">
  <div class="row justify-content-center align-items-center">
    <div class="col-md-8">
      <div class="form-container">

         <%= form_with(model: [:company, review], local: true) do |form| %>
            <% if review.errors.any? %>
              <div id="error_explanation" class="alert alert-danger">
                <div>
                  <% review.errors.full_messages.each do |message| %>
                    <%= message %><br>
                  <% end %>
                </div>
              </div>
            <% end %>

            <div class="reviews-field">
              <div class="form-check">
                <%= form.check_box :enrollment_status, { class: "form-check-input" } %>
                <%= form.label :enrollment_status, '在籍状態', class: "form-check-label" %>
              </div>
              <p class="text-muted">（※ 在籍中の方は、在籍状態にチェックをしてください。）</p>
            </div>

            <div class="row">
              <% @review_form_attr.each do |field, label| %>
                <div class="col-md-6">
                  <div class="reviews-form-group row" id="<%= field %>_field">
                    <%= form.label field, "▶︎ #{label}", class: "form-label" %>
                    <%= form.hidden_field field %>
                    <div id="<%= field %>_raty"></div>
                    <script>
                      var elem = document.querySelector('#<%= field %>_raty');
                      var score = <%= form.object.send(field) || 0 %>;
                      var opt = {
                        starOn: "<%= asset_path('star-on.png') %>",
                        starOff: "<%= asset_path('star-off.png') %>",
                        score: score,
                        scoreName: 'review[<%= field %>]',
                      };
                      raty(elem, opt);
                    </script>
                  </div>
                </div>
              <% end %>
            </div> <!-- row -->

            <div class="reviews-content-field">
              <%= form.label :content, '自由記入欄', class: "form-label" %>
              <%= form.text_area :content, rows: 8, placeholder: review_placeholder , class: "form-control" , id: "input-text"%>
              <p id="counter" style="text-align: right;">0文字</p>
            </div>
    
            <div class="btn-actions">
              <% if @review.new_record? %>
                <%= form.submit id: "create-user", class:"btn btn-custom custom-btn" %>
                <%= link_to "戻る", companies_path , class: 'btn btn-secondary custom-btn'%>
              <% else %>
                <%= form.submit id: "update-user", class:"btn btn-custom custom-btn" %>
                <%= link_to "戻る", company_review_path , class: 'btn btn-secondary custom-btn'%>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>



