<div id="show_star-<%= review.id %>-<%= attribute_name %>"></div>
<!--div id="show_star-7(レビューのid）-work_life_balance"というidができる-->
<script>
    //document.addEventListener('DOMContentLoaded', function() {
        var elem = document.querySelector('#show_star-<%= review.id %>-<%= attribute_name %>');
        var opt = {
            starOn: "<%= asset_path('star-on.png') %>",
            starOff: "<%= asset_path('star-off.png') %>",
            readOnly: true,
            score: <%= score %>
        };
        raty(elem, opt);
    //});
</script>