<div>
  <h1>レビュー詳細</h1>
</div>

<div>
  <p>レビュー企業名： <%= @company.name %></p>
  <p>ユーザー在籍状態： <%= @review.select %>
</div>

<div>
  <p>性別： <%= @user.gender %></p>
  <p>年代： <%= @user.age %></p>
</div>

<table class="table">
  <thead class="custom-thead">
    <tr>
      <th scope="col">　</th>
      <th scope="col">年代</th>
      <th scope="col">在籍状況</th>
      <th scope="col">性別</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    <tr>
      <th scope="row">◇</th>
      <td><%= @user.age %></td>
      <td><%= @review.select %></td>
      <td><%= @user.gender %></td>
    </tr>
    <tr>
      <th scope="row">◇</th>
      <td>総合評価</td>
      <td colspan="2"><%= "#{@review.review_average}点 / 5点" %></td>
    </tr>
    <tr>
<% @review.attributes.each do |name, value| %>
  <% if name.in?(%w[work_life_balance workplace_atmosphere flex_system remote_work harassment_prevention parental_care_leave childcare_support welfare_facilities evaluation_system promotion_salary overtime_holiday_work allowances_subsidies training_education_support career_support work_engagement]) %>
  <!--ここで数字評価だけのカラムを選びたいので、カラム名を列記している。これがないと、idとかまで★で表示してしまう-->
    <li><%= I18n.t("activerecord.attributes.review.#{name}") %>:
      <%= render partial: "output_star", locals: { review: @review, attribute_name: name.parameterize, score: value } %>
    </li>
  <% end %>
<% end %>

  </tbody>
</table>



<% @review.attributes.each do |name, value| %>
  <% if name.in?(%w[work_life_balance workplace_atmosphere flex_system remote_work harassment_prevention parental_care_leave childcare_support welfare_facilities evaluation_system promotion_salary overtime_holiday_work allowances_subsidies training_education_support career_support work_engagement]) %>
  <!--ここで数字評価だけのカラムを選びたいので、カラム名を列記している。これがないと、idとかまで★で表示してしまう-->
    <li><%= I18n.t("activerecord.attributes.review.#{name}") %>:
      <%= render partial: "output_star", locals: { review: @review, attribute_name: name.parameterize, score: value } %>
    </li>
  <% end %>
<% end %>


  <div>
    <p>評価点平均： <%= @review.review_average %></p>
    <p>レビュー本文：<%= @review.content %></p>
    <p>作成日時： <%= @review.created_at.strftime('%Y/%m/%d %H:%M') %></p>
  </div>

</div>

<% if current_user.id == @review.user_id %>
  <%= link_to "編集", edit_company_review_path(@review.company_id, @review) %>
  <%= link_to "削除", company_review_path(@review.company_id, @review), method: :delete, data: { confirm: "削除しても宜しいですか？"} %>
<% end %>
<%= link_to "マイページに戻る", users_path %>
<%= link_to "企業レビュー一覧に戻る", company_reviews_path(@company) %>
