<!DOCTYPE html>
<html>
  <head>
    <title>DaisyApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <body>
     <% if user_signed_in? %> 
      <% if current_user.admin? %>
      <ul>
        <li><%= link_to "ユーザー一覧", admin_users_path %></li>
        <li><%= link_to "トピック一覧", admin_topics_path %></li>
        <li><%= link_to "レビュー一覧", admin_reviews_path %></li>
        <li><%= link_to "企業一覧", admin_companies_path %></li>
        <li><%= link_to "ログアウト", destroy_admin_session_path, method: :delete %></li>
      </ul> 
    <% else %>
        <%= link_to "ログアウト",destroy_user_session_path, method: :delete %>
        <%= link_to "ホーム", users_path, id: "", class: "nav-item nav-link" %>
        <%= link_to "会社レビュ一覧", companies_path, id: "", class: "nav-item nav-link" %>
        <%= link_to "トピックス投稿一覧", users_path(current_user), id: "", class: "nav-item nav-link" %>
        <%= link_to "企業レビュー投稿",destroy_user_session_path, method: :delete %>
        <%= link_to "トピックス投稿",destroy_user_session_path, method: :delete %>
        <%= link_to "アカウント詳細", user_path(current_user) %>
      <% end %>
    <% else %>
      <%= link_to "新規登録", new_user_registration_path, id: "", class: "nav-item nav-link" %>
      <%= link_to "ログイン", new_user_session_path, id: "", class: "nav-item nav-link" %>
    <% end %>
    <%= render 'shared/flash_messages' %>
    <%= yield %>
  </body>
</html>
