<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>DaisyApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!--bootstrap5の導入-->

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
<body>
  <nav class="navbar navbar-expand-lg navbar-light custom-yellow">
    <a class="navbar-brand" href="">Daisy World</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ms-auto">
        <% if user_signed_in? %>
          <% if current_user.admin? %>
            <a class="nav-item nav-link" href="<%= admin_users_path %>">ユーザー一覧</a>
            <a class="nav-item nav-link" href="<%= admin_topics_path %>">トピック一覧</a>
            <a class="nav-item nav-link" href="<%= admin_reviews_path %>">レビュー一覧</a>
            <a class="nav-item nav-link" href="<%= admin_companies_path %>">企業一覧</a>
            <a class="nav-item nav-link" href="<%= destroy_admin_session_path %>" data-method="delete">ログアウト</a>
          <% else %>
            <a class="nav-item nav-link" href="<%= destroy_user_session_path %>" data-method="delete">ログアウト</a>
            <a class="nav-item nav-link" href="<%= users_path %>">ホーム</a>
            <a class="nav-item nav-link" href="<%= companies_path %>">企業一覧</a>
            <a class="nav-item nav-link" href="<%= topics_path %>">トピックス一覧</a>
            <a class="nav-item nav-link" href="<%= new_topic_path %>">トピックス投稿</a>
            <a class="nav-item nav-link" href="<%= user_path(current_user) %>">アカウント詳細</a>
          <% end %>
        <% else %>
          <a class="nav-item nav-link" href="<%= new_user_registration_path %>">新規登録</a>
          <a class="nav-item nav-link" href="<%= new_user_session_path %>">ログイン</a>
          <a class="nav-item nav-link" href="<%= root_path %>">Topページ</a>
        <% end %>
      </div>
    </div>
  </nav>


    <div class="container">
    <%#= render 'shared/flash_messages' %>
    </div>
    <div class="container">
    <%= yield %>
    </div>
  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <!--bootstrap5の導入-->
  </body>
</html>
